body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.header,
.logo-container {
  background-color: #ffffff;
  border: 25px solid #000000;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%; /* Ajustado el tamaño máximo */
  height: auto;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px; /* Ajustado el padding */
  list-style: none;
  border: 20px solid #000000; /* Ajustado el border */
  box-sizing: border-box;
}

.menu-item {
  width: calc(25% - 20px);
  box-sizing: border-box;
  margin: 10px;
  padding: 10px; /* Ajustado el padding */
  background-color: #f3f0f0;
  transition: transform 0.3s ease-in-out;
  border: 8px solid #000000;
  box-sizing: border-box;
}

.menu-item:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .menu-item {
    width: calc(33.33% - 20px); /* Cambiado a 3 columnas en tablets */
  }
}

@media (max-width: 768px) {
  .menu-item {
    width: calc(50% - 20px); /* 2 columnas en dispositivos más pequeños */
  }
}

@media (max-width: 480px) {
  .menu-item {
    width: 100%;
  }
}

.footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 20px;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.footer.visible {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center top;
}

.menu-item {
  border: 5px solid #000000;
  padding: 10px;
  margin: 10px;
}

.menu-item h3 {
  font-size: 24px; /* Ajustado el tamaño */
  margin: 5px;
}

.menu-item p {
  font-size: 18px; /* Ajustado el tamaño */
  margin: 3px 0;
}

.modal-content {
  width: 80%;
  height: 80%;
  max-width: 750px;
  max-height: 600px;
  overflow: auto;
  background-color: white;
  border-radius: 30px;
  padding: 30px; /* Ajustado el padding */
  position: relative;
  font-size: 18px; /* Ajustado el tamaño */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #333;
}

.modal-content h3 {
  font-size: 27px;
  margin-top: -25px; /* Ajustado el margen superior */
}

.modal-content p {
  font-size: 18px;
  margin-bottom: -10px; /* Ajustado el margen inferior */

}

.modal-content img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
