/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  color: white;
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;  /* Asegura que el header esté sobre el contenido */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  margin-top: 80px;  /* Ajusta el espacio para evitar que el contenido quede detrás del header */
  /* Puedes ajustar el valor según el tamaño de tu header */
}

.logo-container {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;  /* Asegura que el logo esté sobre el contenido */
}

.logo {
  max-width: 100%;
  height: auto;
}

.menu-list {
  display: flex;
  background-color: rgb(12, 12, 12);
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  list-style: none;
}

.menu-item {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.menu-item:hover {
  transform: scale(1.05);
}

